:root {
    --font-color: #282828;
    --main-color: #e8c7b0;
    --secondary-color: #0c49ac;
    --main-font: "Noto Sans", sans-serif;
    --header-font: "Noto Serif", serif;
    --main-shadow: 0 0.5rem 1rem 0.25rem rgb(208 208 208 / 30%);
}
body {
    font-family: var(--main-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
    color: var(--font-color);
    margin: 0.5rem 0;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    color: var(--font-color);
}
a {
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    background-color: var(--main-color);
    color: var(--font-color);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
header h1 {
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.logo-med {
    width: auto;
    max-height: 20rem;
    max-width: 90%;
}
.logo-small {
    width: auto;
    max-height: 5rem;
    max-width: 9rem;
}
.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}
nav ul li {
    font-size: 1.25rem;
}
nav a {
    color: var(--secondary-color);
    display: block;
    padding: 1rem 2rem;
    transition: all ease-in-out 500ms;
    position: relative;
}
nav a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transition: all ease 1s;
}
nav a:hover {
    text-decoration: none;
}
nav a:hover::after {
    width: 100%;
}
.header-lower {
    display: flex;
    justify-content: center;
}
#header-date, .social-icons {
    align-self: center;
}
.social-icons {
    padding: 1rem;
    font-size: 2rem;
}
.social-icons a {
    color: var(--font-color);
    transition: all ease 500ms;
}
.social-icons a:hover {
    color: var(--secondary-color);
}

#header-date {
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.625rem;
    align-self: center;
    text-align: center;

}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
.responsive li a {
    color: #FFF;
}
.navigation .menu-icon {
    display: block;
    padding: 1rem;
    transition: all ease-in-out 500ms;
}
.menu-bar {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--font-color);
    margin: 0.25rem 0;
    transition: all ease-in-out 500ms;
}
.close.menu-icon {
    transform: rotate(180deg);
}
.close .menu-bar {
    background-color: #FFF;
}
.close .bar-one {
    transform: rotate(45deg);
    translate: 0 8px;
}
.close .bar-two {
    opacity: 0;
}
.close .bar-three {
    transform: rotate(-45deg);
    translate: 0 -8px;
}

button {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #FFF;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 0.625rem;
    cursor: pointer;
}
.banner {
    display: none;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    text-align: center;
}
.banner p {
    margin: 0;
    color: #FFF;
}
.main-content {
    max-width: 80rem;
}
.main-grid {
    display: grid;
    gap: 2rem;
    margin: 2rem auto;
}
.home-grid-section {
    padding: 1rem;
    text-align: center;
    background-color: var(--main-color);
}
.hero {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    text-align: center;
    padding: 0.5rem;
}
.hero-text h2 {
    background-color: rgba(233, 199, 176, 0.5);
    padding: 1rem 2rem;
}
.home-grid-section button {
    transition: all ease-in-out 500ms;
}
.home-grid-section button:hover {
    color: var(--font-color);
    background-color: var(--main-color);
}
.spotlight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.spotlight-item {
    border: 2px solid var(--secondary-color);
    border-radius: 0.625rem;
    flex: 1;
}
.weather-flex {
    display: flex;
    align-items: center;
}
.weather-flex img {
    width: 50%;
}
.weather-temp-wrapper {
    font-size: 3rem;
}

.one-col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem 1rem;
    gap: 2rem;
}
.one-col-upper-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.upper-section {
    box-shadow: var(--main-shadow);
    padding: 2rem;
    border-radius: 1rem;
}
.image-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: var(--main-shadow);
    border-radius: 1rem;
}
.image-section p {
    margin: 0.5rem 0 1rem;
}
.image-section img[data-src] {
    opacity: 0.5;
}
.image-section img {
    max-width: 100%;
    max-height: 600px;
    opacity: 1;
    transition: opacity 1s ease;
}
.join-wrapper {
    max-width: 100%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.join-wrapper form {
    display: flex;
    flex-direction: column;
    min-width: 36rem;
    margin: 0 auto;
    border: var(--secondary-color) 2px solid;
    border-radius: 1rem;
    padding: 1rem;
}
.join-wrapper label {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}
.join-wrapper input, .join-wrapper textarea, .join-wrapper select {
    margin: 0.3rem 0;
}
.join-wrapper button {
    align-self: flex-end;
    transition: all ease 500ms;
}
.join-wrapper button:hover {
    color: var(--font-color);
    background-color: var(--main-color);
}
.join-wrapper table {
    border: 0;
    border-spacing: 0;
}
.join-wrapper table thead {
    background-color: var(--secondary-color);
    color: #FFF;
}
.join-wrapper th {
    padding: 0.5rem;
}
.join-wrapper thead tr:first-child {
    font-size: 1.5rem;
}
.join-wrapper tbody tr td {
    padding: 1rem 0.5rem;
}
.join-wrapper tbody tr td:first-child {
    font-weight: bold;
}
.join-wrapper tbody tr:nth-child(even) {
    background-color: var(--main-color);
}
.member-pricing {
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.thankyou-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 5rem auto;
}
.switch-buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
.main-rows.directory {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: stretch;
    max-width: 77.5rem;
}
.main-rows.directory section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.main-rows.directory section:nth-of-type(even) {
    background-color: var(--main-color);
}
.main-rows.directory section img, .main-rows .business-description {
    /* max-height: 3rem; */
    display: none;
}
.main-rows.directory section h2 {
    font-size: 1.2rem;
}

.main-grid.directory {
    grid-auto-columns: minmax(0, 1fr);
    margin: 2rem;
}
.main-rows.directory .rows-header {
    display: none;
}
.main-grid.directory .rows-header {
    display: none;
}
.main-grid.directory section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 0.625rem;
}
.main-grid.main-grid.directory section img {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    max-width: 100%;
}
.main-grid.directory section h2 {
    text-align: center;
}

footer {
    background-color: var(--main-color);
}

.footer-logo {
    text-align: center;
    margin-top: 1rem;
}

.footer-meta-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.footer-meta-wrapper span {
    text-align: center;
    padding: 0.5rem;
}
