:root {
    --primary-color: #82bc24;
    --secondary-color: #1982c4;
    --font-color: #042a2b;
    --accent-one: #ffca3a;
    --accent-two: #6a4c93;
    --body-font: "Poppins", sans-serif;
    --header-font: "Alfa Slab One", cursive;
    font-size: 10px;
}
body {
    /* font-size: 10px; */
    font-family: var(--body-font);
    color: var(--font-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: var(--font-color);
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
    letter-spacing: 1.6rem;
}
h2 {
    font-size: 4rem;
    letter-spacing: 0.6rem;
}
h3 {
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
}
h4 {
    font-size: 2.8rem;
    letter-spacing: 0.6rem;
}
p {
    font-size: 1.6rem;
}
header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

nav ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

nav ul a {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: 500ms ease-in-out all;
    border-bottom: 4px solid transparent;
}

nav ul a:hover {
    border-bottom: 4px solid var(--primary-color);
}
nav ul li a img {
    height: 12.5rem;
    border-radius: 50%;
    transition: all ease-in-out 300ms;
}
nav ul li a.logo-img-link {
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
}
nav ul li a.logo-img-link:hover {
    background: none;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.8rem;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.social-icons li {
    transition: 500ms ease-in-out all;
}
.social-icons li:hover {
    opacity: 0.7;
}
.social-icons img {
    height: 3rem;
}
main {
    width: 100%;
}

.section-wide {
    background-image: url(../images/placeholder.webp);
    width: 100%;
    margin: 0;
    height: 100vh;
    height: 100dvh;
    background-size: cover;
}
.section-wrapper {
    padding: 3.2rem;
    border-radius: 2rem;
}
.section-fresh.visible {
    background-image: url(../images/fresh-fruit.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-fresh h1 {
    font-size: 8rem;
    color: white;
}
.section-fresh a,
#order-btn {
    font-size: 2rem;
    padding: 2rem 3rem;
    background-color: var(--secondary-color);
    color: white;
    border: 4px solid var(--primary-color);
    cursor: pointer;
    transition: 500ms all cubic-bezier(0.52, -0.57, 0.39, 1.99);
    font-weight: bold;
    text-decoration: none;
}
.section-fresh a:hover,
#order-btn:hover {
    background-color: var(--primary-color);
    border: 4px solid var(--secondary-color);
    color: var(--font-color);
}
.drink-wrapper {
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    background-color: var(--accent-one);
}
.drink-orders {
    font-size: 2rem;
}
#drink-count {
    font-family: var(--header-font);
}
.section-contact.visible {
    background-image: url(../images/berries.webp);
    display: flex;
    align-items: center;
    background-position: bottom;
}
.contact-wrapper {
    margin: 2rem auto;
    background-color: rgb(131 188 36 / 70%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact-wrapper h2 {
    margin: 0 3rem 3rem;
    font-size: 6rem;
}
.contact-wrapper ul {
    margin: 0;
    overflow-wrap: anywhere;
}
.contact-wrapper a {
    color: var(--font-color);
}
.contact-wrapper ul li:first-child::marker {
    content: "🍓";
}
.contact-wrapper ul li:nth-child(2)::marker {
    content: "🍇";
}
.contact-wrapper ul li:nth-child(3)::marker {
    content: "🍊";
}
.contact-wrapper ul li {
    font-size: 2.4rem;
    padding: 0.6rem 1rem;
}
.section-visit.visible {
    background-image: url(../images/beach.webp);
    display: flex;
    justify-content: flex-start;
    background-position: bottom;
    align-items: center;
}
.visit-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    background-color: rgb(25 131 196 / 70%);
    margin: 2rem 5rem;
}
.visit-wrapper h2 {
    font-size: 6rem;
    margin: 0 0 2rem 0;
}
.visit-wrapper h3 {
    margin: 1rem 0;
}
.section-weather.visible {
    background-image: url(../images/field.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60rem;
}
.weather-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 202 58 / 70%);
    max-width: 50rem;
}
.weather-section-wrapper span {
    font-size: 1.6rem;
}
.section-weather h2 {
    font-size: 6rem;
    margin: 0 0 2rem 0;
}
.weather-location {
    font-size: 3rem;
}
.weather-wrapper,
.weather-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp-wrapper {
    font-size: 2rem;
}
#weather-icon {
    height: 7rem;
}

#weather-three-day {
    display: flex;
}
.three-day-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.weather-date {
    font-family: var(--header-font);
    border-bottom: 2px solid var(--font-color);
}
.contact-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 124rem;
    margin: 3rem auto;
}
.contact-page-wrapper div,
.contact-page-wrapper section {
    max-width: 100%;
}
.contact-header {
    text-align: center;
}
.contact-page-wrapper section {
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 4rem;
}
.contact-section {
    font-size: 1.6rem;
    background-color: var(--accent-two);
    border-radius: 2rem;
    padding: 2rem;
}
.contact-section h2 {
    text-align: center;
}
.contact-section h2,
.contact-section h3,
.contact-section span,
.contact-section p,
.contact-section a {
    color: #fff;
}
.contact-address,
.contact-email,
.contact-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
.contact-social img {
    height: 5rem;
}
.contact-visit {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-story {
    background-color: var(--primary-color);
}
.about-history {
    background-color: var(--accent-one);
}
.fresh-form-wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fresh-order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8rem;
    padding: 1.6rem;
}
#fresh-order label {
    padding: 0.5rem 0;
}
#fresh-order input,
#fresh-order select,
#fresh-order textarea {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
#fresh-order input:invalid,
#fresh-order select:invalid {
    border: 2px solid red;
}
#order-btn {
    margin: 1rem 0;
    align-self: flex-end;
}
#fresh-output {
    visibility: hidden;
    max-width: 80rem;
    margin: 4rem auto;
    border-radius: 2rem;
    padding: 4rem;
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 2rem;
}
footer img {
    height: 8rem;
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
}
.footer-bottom {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
