@media screen and (min-width: 960px) {
    header {
        grid-template-columns: 1fr 15rem;
        padding: 0;
    }
    nav {
        margin-left: 15rem;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
    .nav-grid-one {
        order: 2;
    }
    .nav-grid-two {
        order: 1;
    }
    .nav-grid-three {
        order: 3;
    }
    .social-icons {
        margin: 0 1.6rem 1.6rem 0;
        padding: 0;
        margin-right: 2rem;
    }
    .section-wide h1 {
        font-size: 10rem;
    }
    .section-wide h2 {
        font-size: 8rem;
    }
    .section-contact.visible {
        justify-content: flex-end;
    }
    .contact-wrapper {
        margin: 2rem 5rem;
    }
    .contact-wrapper ul {
        margin-left: 3rem;
    }
    .contact-page-wrapper section {
        padding: 4rem;
    }
    .contact-page-wrapper div, .contact-page-wrapper section {
        width: 100%;
    }
    .contact-section {
        max-width: 80rem;
        background-color: var(--accent-two);
        border-radius: 2rem;
        padding: 4rem;
    }
    .contact-address, .contact-email {
        font-size: 2rem;
    }
    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}