@media screen and (min-width: 960px) {
    header {
        grid-template-columns: 1fr 15rem;
        padding: 0;
    }
    nav {
        margin-left: 15rem;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
    .nav-grid-one {
        order: 2;
    }
    .nav-grid-two {
        order: 1;
    }
    .nav-grid-three {
        order: 3;
    }
    .social-icons {
        margin: 0 1.6rem 1.6rem 0;
        padding: 0;
        margin-right: 2rem;
    }
    .section-wide h1 {
        font-size: 10rem;
    }
    .section-wide h2 {
        font-size: 8rem;
    }
}