@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --header-font: "Arvo", serif;
    --main-font: "Open Sans", sans-serif;
    --main-blue: #004ba8;
    --main-green: #17301c;
    --color-secondary: #f6d8ae;
    --color-bg: #F0EFF4;
    --font-color: #333;
    --font-color-dark-bg: #fff;
    --link-color: #3448b0;
}
body.dark-theme {
    --main-blue: #004ba8;
    --main-green: #17301c;
    --color-secondary: #f6d8ae;
    --color-bg: #252525;
    --font-color: #fff;
    --font-color-dark-bg: #fff;
    --link-color: #4c6aff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: var(--font-color);
}
body {
    font-family: var(--main-font);
    background-color: var(--color-bg);
}
p,
ul,
li,
span,
a {
    font-size: 1.6rem;
}
p, ul, li, span {
    color: var(--font-color);
}
a {
    color: var(--link-color);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.header-section,
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: var(--main-green);
    border-radius: 1.2rem;
    box-shadow: 10px 10px 20px 10px rgb(0 0 0 / 25%);
    color: var(--font-color-dark-bg);
}
.footer-inner {
    flex-direction: column;
}
.header-section h1 {
    padding: 3rem;
    color: var(--font-color-dark-bg);
}
.footer-inner p, .footer-inner span {
    color: var(--font-color-dark-bg);
}
.header-section img {
    max-height: 200px;
}
.assignment-wrapper {
    margin: 5rem 0;
}
.dark-button-wrapper {
    display: flex;
    justify-content: flex-end;
}
#dark-mode {
    border-radius: 24px;
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
    border: var(--main-green) 2px solid;
    cursor: pointer;
}
.dark-theme #dark-mode {
    background-color: var(--main-blue);
    border: #333;
}
#dark-mode i {
    font-size: 1.4rem;
}
.footer-meta-wrapper {
    padding: 1.6rem;
}
.footer-meta-wrapper span {
    padding: 1rem 2rem;
}